@function rem($px) {
  @return ($px / 100)+rem
}

@mixin absolute-center($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: rem(-($height / 2));
  margin-left: rem(-($width / 2));
  width: rem($width);
  height: rem($height);
}

@mixin animate-merge($name, $otop, $oleft, $deviation, $time:1.2s) {
  animation: $name $time;
  top: rem(100);
  left: rem((344+15)*2);
  animation-timing-function: ease-in;
  @keyframes #{$name} {
    0% {
      top: rem($otop);
      left: rem($oleft);
    }
    80% {
      top: rem(100);
      left: rem((344+15)*2);
    }
    90% {
      top: (100 - $otop) / ((344+15)*2 - $oleft) * ((344+15)*2 + $deviation);
      left: rem((344+15)*2 + $deviation);
    }
    100% {
      top: rem(100);
      left: rem((344+15)*2);
    }
  }
}
